<div class="h-full flex flex-col justify-between">
  <div>
    <img
      src="<%= item.imgUrl %>"
      class="w-[165px] h-[130px] object-cover rounded mb-[13px]"
      alt=""
    />
    <h2 class="w-[160px] text-[17px] line-clamp-2 item-name">
      <%= item.name%>
    </h2>
  </div>
  <div>
    <p class="text-[16px] mt-[5px] mb-[7px]">
      <%= item.user.f_name %> <%= item.user.l_name %>
    </p>
    <div class="flex gap-5 items-center">
      <div class="flex items-center gap-2">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          class="w-[15px] self-center"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.5606 8.17073L14.6411 12.1219L15.4896 17.6223C15.5001 17.6882 15.4922 17.7557 15.4667 17.8174C15.4412 17.879 15.3991 17.9324 15.3451 17.9716C15.2912 18.0108 15.2274 18.0343 15.1609 18.0395C15.0944 18.0447 15.0278 18.0314 14.9684 18.001L9.9994 15.4943L5.0304 18.0011C4.971 18.0315 4.90436 18.0448 4.83785 18.0396C4.77135 18.0344 4.70758 18.0109 4.65361 17.9717C4.59964 17.9325 4.55758 17.8791 4.53209 17.8175C4.5066 17.7558 4.49867 17.6883 4.50919 17.6224L5.35773 12.1219L1.43819 8.17068C1.39139 8.1234 1.3585 8.06414 1.34313 7.9994C1.32776 7.93466 1.33051 7.86694 1.35107 7.80366C1.37163 7.74038 1.40921 7.68398 1.45969 7.64064C1.51018 7.59729 1.57161 7.56868 1.63728 7.55794L7.13065 6.66519L9.67727 1.71656C9.70773 1.65737 9.7539 1.60771 9.81073 1.57304C9.86755 1.53837 9.93283 1.52002 9.9994 1.52002C10.066 1.52002 10.1312 1.53837 10.1881 1.57304C10.2449 1.60771 10.2911 1.65737 10.3215 1.71656L12.8681 6.66519L18.3615 7.55794C18.4272 7.56868 18.4886 7.59729 18.5391 7.64064C18.5896 7.68398 18.6272 7.74038 18.6477 7.80366C18.6683 7.86694 18.671 7.93466 18.6557 7.9994C18.6403 8.06414 18.6075 8.12344 18.5606 8.17073Z"
            class="fill-primary"
          />
        </svg>
        <span class="text-[12px]"><%= item.user.rating %></span>
      </div>
      <div class="flex items-center gap-2">
        <svg
          class="w-[15px] self-center"
          width="27"
          height="24"
          viewBox="0 0 27 24"
          class="fill-primary"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.2265 3.77351C22.6645 3.21126 21.9972 2.76524 21.2628 2.46093C20.5284 2.15663 19.7412 2 18.9463 2C18.1513 2 17.3641 2.15663 16.6297 2.46093C15.8953 2.76524 15.228 3.21126 14.666 3.77351L13.4997 4.93985L12.3334 3.77351C11.1982 2.63833 9.65854 2.00059 8.05315 2.00059C6.44775 2.00059 4.90811 2.63833 3.77293 3.77351C2.63774 4.9087 2 6.44834 2 8.05374C2 9.65913 2.63774 11.1988 3.77293 12.334L4.93926 13.5003L13.4997 22.0607L22.0602 13.5003L23.2265 12.334C23.7887 11.772 24.2348 11.1047 24.5391 10.3703C24.8434 9.63588 25 8.8487 25 8.05374C25 7.25877 24.8434 6.4716 24.5391 5.73719C24.2348 5.00277 23.7887 4.33551 23.2265 3.77351Z"
            class="fill-primary"
            stroke-width="2.20063"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="text-[12px]"><%= item.likeCount %> Likes</span>
      </div>
    </div>
  </div>
</div>
