<div>
	<img
		src="/images/product/product<%= item.id %>.jpg"
		class="w-[165px] h-[130px] object-cover rounded mb-[13px]"
		alt=""
	/>
	<h2 class="w-[154px] text-[17px]"><%= item.name %></h2>
	<p class="text-[16px] mt-[5px] mb-[7px]">
		<%= item.user.f_name %> <%= item.user.l_name %>
	</p>
	<div class="flex gap-5">
		<div class="flex items-center gap-2">
			<img src="/images/icons/GreyStar.svg" class="w-[15px]" alt="" />
			<span class="text-[12px]"><%= item.user.rating %></span>
		</div>
		<div class="flex items-center gap-2">
			<img src="/images/icons/LikeGrey.svg" class="w-[15px]" alt="" />
			<span class="text-[12px]"><%= item.likes %> Likes</span>
		</div>
	</div>
</div>
