<div class="flex flex-col px-5">
  <img
    class="mx-auto rounded-full w-[200px] h-[200px] object-cover"
    src="/images/squares/square<%= square.id %>.jpg"
    alt="Square Img"
    srcset=""
  />
  <div class="text-center">
    <h1 class="pt-5"><%= square.name %></h1>
    <p class="text-grey px-2 py-5"><%= square.description %></p>
  </div>

  <div class="flex flex-col md:flex-row md:items-center gap-5 justify-center">
    <% if (user) { %> <% if (!square.joined) { %>
    <button
      class="join-btn btn-primary rounded-full w-full md:w-[340px]"
      data-square-id="<%= square.id %>"
    >
      Join
    </button>
    <% } else { %>

    <button
      class="unjoin-btn btn-danger rounded-full w-full md:w-[300px]"
      data-square-id="<%= square.id %>"
    >
      Leave
    </button>
    <a href="/squares/create/<%= square.id %>">
      <button
        class="join-btn btn-primary rounded-full w-full md:w-[300px] h-[50]"
      >
        Create New Post
      </button>
    </a>

    <% } %> <% } %>
  </div>
</div>
