<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/styles/styles.css" rel="stylesheet" />

		<title>Categories</title>
	</head>

	<body>
		<article class="w-[90%] mx-auto md:w-[60%] mb-32">
			<%- include('../components/subNavigation.ejs') %>

			<h1 class="font-bold mt-0 mb-2">Categories</h1>

			<% categories.forEach(category => { %>

			<a href="/categories/<%= category.id %>">
				<div
					class="flex gap-5 justify-start p-5 mt-5 bg-offwhite rounded-md hover:bg-gray-300 transition-colors shadow-lg"
				>
					<div
						class="bg-primary w-[100px] h-[100px] flex justify-center items-center rounded"
					>
						<img
							src="/images/icons/category_<%= category.id %>.svg"
							alt="<%= category.name %> Icon"
							srcset=""
							class=""
						/>
					</div>

					<p class="text-black font-bold place-self-center">
						<%= category.name %>
					</p>
				</div>
			</a>
			<% }); %>
		</article>
		<%- include('../components/navigationBar') %>
	</body>
</html>
