<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />

    <title>Categories</title>
  </head>

  <body>
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
      <%- include('../components/subNavigation.ejs') %>

      <h1 class="font-bold mt-0 mb-2">Categories</h1>

      <% categories.forEach(category => { %>

      <a href="/categories/<%= category.id %>">
        <div
          class="flex gap-5 justify-start p-5 mt-5 bg-offwhite rounded-md hover:bg-gray-300 transition-colors shadow-lg"
        >
          <div
            class="bg-primary w-[100px] h-[100px] flex justify-center items-center rounded"
          >
            <img
              src="/images/icons/category_<%= category.id %>.svg"
              alt="<%= category.name %> Icon"
              srcset=""
              class=""
            />
          </div>

          <p class="text-black font-bold place-self-center">
            <%= category.name %>
          </p>
        </div>
      </a>
      <% }); %>

      <!-- <div class="flex gap-5 justify-start mt-5 bg-offwhite rounded-md">
                <img src="/images/icons/Cloth.svg" alt="Cloth Icon" srcset="" class="p-3" />
            
                <p class="text-black font-bold place-self-center">
                    Cloth/ Accessories
                </p>
            </div>

            <div class="flex gap-5 justify-start mt-5 bg-offwhite rounded-md">
                <img src="/images/icons/Shoes.svg" alt="Shoes Icon" srcset="" class="p-3" />
            
                <p class="text-black font-bold place-self-center">
                    Shoes
                </p>
            </div>

            <div class="flex gap-5 justify-start mt-5 bg-offwhite rounded-md">
                <img src="/images/icons/Collections.svg" alt="Collections Icon" srcset="" class="p-3" />
            
                <p class="text-black font-bold place-self-center">
                    Collections ( Art / Music)
                </p>
            </div>

            <div class="flex gap-5 justify-start mt-5 bg-offwhite rounded-md">
                <img src="/images/icons/Kitchen.svg" alt="Kitchen Icon" srcset="" class="p-3" />
            
                <p class="text-black font-bold place-self-center">
                    Kitchen Appliances
                </p>
            </div>

            <div class="flex gap-5 justify-start mt-5 bg-offwhite rounded-md">
                <img src="/images/icons/Car.svg" alt="Car Icon" srcset="" class="p-3" />
            
                <p class="text-black font-bold place-self-center">
                    Car / Electronics
                </p>
            </div> -->
    </article>
  </body>
</html>
