<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
    <title><%= item.name %></title>
  </head>
  <body class="bg-bkg text-content">
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
      <%- include('../components/subNavigation.ejs') %>
      <img
        class="mx-auto aspect-video rounded-lg object-cover mb-5"
        src="<%= item.imgUrl %>"
        alt="Item Img"
        srcset=""
      />
      <h1 class="font-bold mt-0 mb-2 text-content"><%= item.name %></h1>

      <div class="flex gap-5 justify-start mt-5">
        <img
          class="rounded-full w-[30px] h-[30px] object-cover"
          src="<%= item.user.profilePic %>"
          alt="Seller Img"
          srcset=""
        />
        <p class="text-content font-bold text-2xl">
          <%= item.user.f_name %> <%= item.user.l_name %>
        </p>
      </div>

      <div class="flex gap-5 justify-start items-center pl-2 my-5">
        <% for (var i = 1; i <= 5; i++) { %> <% if (i <=
        Math.floor(item.user.rating)) { %>
        <img
          src="/images/icons/FullStar.svg"
          class="w-[20px]"
          alt="Full star"
        />
        <% } else if (i === Math.ceil(item.user.rating) && item.user.rating % 1
        !== 0) { %>
        <img
          src="/images/icons/HalfStar.svg"
          class="w-[20px]"
          alt="Half star"
        />
        <% } else { %>
        <img
          src="/images/icons/GreyStar.svg"
          class="w-[20px]"
          alt="Empty star"
        />
        <% } %> <% } %>
        <p class="text-xs text-content"><%= item.user.rating %></p>
      </div>

      <div class="my-5">
        <h2 class="mb-2 text-content">Product Details</h2>
        <p class="text-content"><%= item.description %></p>
      </div>

      <div class="flex gap-5 justify-center my-10">
        <a href="/items/edit/<%= item.id %>">
          <button class="btn-primary rounded w-[200]">Edit Post</button>
        </a>
        <a href="/items/delete/<%= item.id %>">
          <button class="btn-danger rounded w-[200]">Delete Post</button>
        </a>
      </div>
    </article>
  </body>
</html>
