<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
    <title><%= item.name %></title>
  </head>
  <body class="bg-bkg text-content">
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
      <%- include('../components/subNavigation.ejs') %>
      <img
        class="mx-auto aspect-video rounded-lg object-cover mb-5"
        src="<%= item.imgUrl %>"
        alt="Item Img"
        srcset=""
      />
      <h1 class="font-bold mt-0 mb-2 text-content"><%= item.name %></h1>

      <div class="my-5">
        <h2 class="mb-2 text-content">Product Details</h2>
        <p class="text-content"><%= item.description %></p>
      </div>

      <div class="flex gap-5 justify-center my-10">
        <a href="/items/edit/<%= item.id %>">
          <button class="btn-primary rounded w-[200]">Edit Post</button>
        </a>
        <a href="/items/delete/<%= item.id %>">
          <button class="btn-danger rounded w-[200]">Delete Post</button>
        </a>
      </div>
    </article>
  </body>
</html>
