<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
    <title>Liked items</title>
  </head>

  <body class="bg-bkg text-content">
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
      <div class="pt-5">
        <%- include('../components/header.ejs', {isAuthenticated}) %>
      </div>

      <h1 class="font-bold mt-0 mb-2">Recently Liked items</h1>

      <div class="grid grid-col grid-cols-3 gap-4">
        <% likedItems.forEach(({item}) => { %>
        <a href="/items/view/<%= item.id %>" class="w-[200px] h-[200px]">
          <img
            src="<%= item.imgUrl %>"
            alt="<%= item.name %>"
            srcset=""
            class="w-[200px] h-[200px] object-cover justify-start rounded-md"
          />
        </a>

        <% }) %>
      </div>
    </article>
    <%- include('../components/navigationBar.ejs', {user}) %>
  </body>
</html>
