<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
  </head>

  <body class="bg-bkg">
    <article class="w-[90%] mx-auto md:w-[60%]">
      <%- include('../components/subNavigation.ejs') %>

      <div class="flex justify-end">
        <a href="/test/editprofile/<%= user.id %>"
          class="w-full md:w-[45px] h-[45px] rounded-full flex justify-center items-center gap-5 ">
      
          <svg width="80" height="80" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20.8333 12.5L9.59486 23.7385C9.38233 23.951 9.27606 24.0573 9.20619 24.1878C9.13633 24.3184 9.10685 24.4657 9.04791 24.7605L7.64709 31.7646C7.58057 32.0972 7.5473 32.2635 7.64191 32.3581C7.73652 32.4527 7.90283 32.4194 8.23544 32.3529L15.2395 30.9521L15.2396 30.9521C15.5343 30.8931 15.6816 30.8637 15.8122 30.7938C15.9427 30.7239 16.049 30.6177 16.2615 30.4052L16.2615 30.4051L27.5 19.1667L20.8333 12.5Z"
              fill="#506DF6" fill-opacity="0.66" />
            <path
              d="M7.74255 32.2574L8.16682 31.8332L7.74255 32.2575C7.98384 32.4987 8.28307 32.5002 8.4482 32.4841C8.59647 32.4696 8.77075 32.4259 8.92483 32.3873C8.93463 32.3848 8.94435 32.3824 8.95397 32.38L8.80845 31.7979L8.95397 32.38L14.3773 31.0241C14.3935 31.0201 14.4097 31.0161 14.4258 31.0121C14.6445 30.9577 14.8548 30.9054 15.0463 30.797C15.2378 30.6887 15.3908 30.5352 15.5499 30.3756C15.5617 30.3638 15.5734 30.352 15.5852 30.3402L29.0101 16.9154L29.0369 16.8886C29.3472 16.5783 29.6215 16.3041 29.8128 16.0533C30.0202 15.7815 30.1858 15.468 30.1858 15.0769C30.1858 14.6859 30.0202 14.3724 29.8128 14.1005C29.6215 13.8498 29.3472 13.5756 29.0369 13.2653L29.0101 13.2384L26.7616 10.9899L26.7347 10.9631C26.4244 10.6528 26.1502 10.3785 25.8995 10.1872C25.6276 9.97981 25.3141 9.81421 24.9231 9.81421C24.532 9.81421 24.2185 9.97981 23.9467 10.1872C23.6959 10.3785 23.4217 10.6528 23.1114 10.9631L23.0846 10.99L9.65976 24.4148C9.64796 24.4266 9.63617 24.4383 9.62442 24.4501C9.46479 24.6092 9.31135 24.7623 9.20295 24.9537C9.09456 25.1452 9.04229 25.3555 8.98793 25.5742C8.98393 25.5903 8.97991 25.6065 8.97587 25.6227L7.62003 31.046C7.61762 31.0557 7.61518 31.0654 7.61272 31.0752C7.57411 31.2293 7.53044 31.4035 7.51593 31.5518C7.49978 31.7169 7.50127 32.0162 7.74255 32.2574Z"
              stroke="#506DF6" stroke-width="1.2" />
            <path d="M20.8334 12.5L27.5 19.1667" stroke="#506DF6" stroke-width="1.2" />
          </svg>

        </a>
      </div>

      <div class="flex flex-col justify-between">
        <div class="mb-10">
          <img
            src="<%= user.profilePic %>"
            class="rounded-full w-[200px] h-[200px] object-cover mx-auto"
            alt=""
          />
        </div>
        <h2 class="text-content mb-2 mx-auto"><%= user.f_name %> <%= user.l_name %></h2>
        <p class="text-content mx-auto">A little bit about me...</p>

        <h3 class="mt-5 text-content">About</h3>
        <div class="mb-2">
          <p class="text-content"><%= user.location  %></p>
        </div>

        <h3 class="mt-5 text-content">Your Analytics</h3>
        <div class="mb-2">
          <div class="flex">
            <p class="text-content">Total transactions:&nbsp;</p>
            <p class="text-primary">21</p>
          </div>
        </div>

        <div class="flex items-center gap-2 mb-2">
          <% for (var i=1; i <=5; i++) { %> <% if (i <=Math.floor(user.rating))
          { %>
          <img
            src="/images/icons/FullStar.svg"
            class="w-[20px]"
            alt="Full star"
          />
          <% } else if (i===Math.ceil(user.rating) && user.rating % 1 !==0) { %>
          <img
            src="/images/icons/HalfStar.svg"
            class="w-[20px]"
            alt="Half star"
          />
          <% } else { %>
          <img
            src="/images/icons/GreyStar.svg"
            class="w-[20px]"
            alt="Empty star"
          />
          <% } %> <% } %>
        </div>
        <p class="text-content text-xs">
          <%= user.rating %> Stars (20 reviews)
        </p>

       

        <div class="flex flex-col md:flex-row justify-center gap-5 mt-10">
          <a href="/users/my-items" class="btn-primary w-full md:w-[300px] h-[60px] rounded flex justify-center items-center gap-5">
           
              <svg
                width="23"
                height="33"
                viewBox="0 0 23 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22.25 25.3242H1"
                  stroke="white"
                  stroke-width="1.40625"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22.25 1H1"
                  stroke="white"
                  stroke-width="1.40625"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.59375 19.2432H20.6563C21.5364 19.2432 22.25 18.2222 22.25 16.9628V9.36146C22.25 8.10202 21.5364 7.08105 20.6563 7.08105H2.59375C1.71354 7.08105 1 8.10202 1 9.36146V16.9628C1 18.2222 1.71354 19.2432 2.59375 19.2432Z"
                  stroke="white"
                  stroke-width="1.40625"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.75 31.4053H1"
                  stroke="white"
                  stroke-width="1.40625"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <p>Your Listings</p>
            
        </a>

       

        <a href="/users/my-squares/"
          class="btn-primary w-full md:w-[300px] h-[60px] rounded flex justify-center items-center gap-5">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.630316 7.51695L12.4592 12.8829C12.8045 13.0399 13.195 13.0399 13.5403 12.8829L25.3692 7.51695C26.2096 7.13558 26.2096 5.86556 25.3692 5.48419L13.5408 0.117683C13.3712 0.0401357 13.1868 0 13.0003 0C12.8137 0 12.6294 0.0401357 12.4597 0.117683L0.630316 5.48369C-0.210105 5.86505 -0.210105 7.13558 0.630316 7.51695ZM25.3697 11.9999L22.4198 10.6628L14.2116 14.3835C13.8277 14.5577 13.42 14.6461 13 14.6461C12.58 14.6461 12.1728 14.5577 11.7884 14.3835L3.58068 10.6628L0.630316 11.9999C-0.210105 12.3807 -0.210105 13.6502 0.630316 14.0311L12.4592 19.393C12.8045 19.5494 13.195 19.5494 13.5403 19.393L25.3697 14.0311C26.2101 13.6502 26.2101 12.3807 25.3697 11.9999ZM25.3697 18.4897L22.431 17.1577L14.2116 20.8835C13.8277 21.0576 13.42 21.146 13 21.146C12.58 21.146 12.1728 21.0576 11.7884 20.8835L3.56951 17.1577L0.630316 18.4897C-0.210105 18.8705 -0.210105 20.14 0.630316 20.5209L12.4592 25.8828C12.8045 26.0392 13.195 26.0392 13.5403 25.8828L25.3697 20.5209C26.2101 20.14 26.2101 18.8705 25.3697 18.4897Z"
              fill="white" />
          </svg>
          <p>My Squares</p>
        </a>

      </div>

     
    </article>
    <%- include('../components/navigationBar.ejs', {user}) %>
  </body>
</html>
