<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title><%= square.name %></title>
  </head>
  <body>
    <div class="flex justify-between pl-9 pr-9">
      <%- include('../components/subNavigation.ejs') %>
    </div>
    <div>
      <%- include('../components/Square_Title_and_Description.ejs', {square,
      user}) %>
    </div>
    <div class="flex flex-col items-center mt-10" id="postsContainer">
      <div class="grid grid-cols-1 gap-5 justify-center">
        <% if (square.posts.length) { %>
        <h1 class="col-span-1">Overview</h1>
        <% square.posts.forEach(post => { %> <%-
        include('../components/postCard', {post}) %> <% }) %> <% } else {%>
        <h1 class="col-span-1">No posts yet</h1>
        <% } %>
      </div>
    </div>
    <%- include('../components/navigationBar', {user}) %> <% if (!square.joined)
    { %>
    <script src="/src/joinBtn.js"></script>
    <% } else { %>
    <script src="/src/unjoinBtn.js"></script>
    <% } %>
  </body>
</html>
